.country-img {
  width: 100%;
}

.country-img-container {
  height: 275px;
  background-color: #1f1f2f;
  margin-bottom: 15px;
}

@media screen and (min-width: 768px) {
  .country-img-container {
    width: 230px;
    height: 170px;
    margin-right: 10px;
  }
}

.remove-btn {
  background-color: transparent;
  border: 1px solid #f1f5f9;
  color: #f1f5f9;
  height: 28px;
  width: 60px;
  border-radius: 1.5px;
  cursor: pointer;
}

.name-btn-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 10px;
}
